body {
  background: #595959;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0;
}
h2 {
  background: #ffffff;
  color: #000000;
  font-size: 1.7rem;
  padding: 0.3rem;
}
nav {
  display: flex;
  margin: 0.5rem;
  justify-content: space-between;
  width: 30vw;
}
.painel {
  align-items: center;
  background: #30007ef8;
  border: 0.1rem solid #ffffff;
  display: flex;
  border-radius: 1.1rem;
  flex-flow: wrap column;
  justify-content: center;
  max-height: 100vh;
  text-align: center;
  width: 25vw;
}
.main {
  align-items: center;
  /* border: 0.1rem solid #000000; */
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: auto auto;
  width: 60vw;
}
#form {
  display: flex;
  flex-flow: wrap column;
  font-size: 1.2rem;
}
#form input {
  border-radius: 0.7rem;
  margin-top: 0.7rem;
  padding: 0.9rem 01rem;
  text-align: center;
  width: 17rem;
}
#form label {
  background: #ffffff;
  border-radius: 0.5rem;
  color: #000000;
  padding: 0.5rem;
  max-width: 10rem;
}

.button {
  /* background: #cdcdcd; */
  border-radius: 0.7rem;
  font-size: 1rem;
  margin: auto auto;
  padding: 0.5rem 0.5rem !important;
  width: 8rem !important;
}
.button:hover {
  background: #3cd804;
  color: #ffffff;
}
.result {
  background: #ffffff;
  border-radius: 0.7rem;
  height: 10vh;
  margin: 1rem;
  width: 15vw;
}
